# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Data & Pickles
*.pkl
*.pickle

# Airflow Runtime (Generated)
airflow/logs/
airflow/data/
airflow/plugins/__pycache__/

# OS files
.DS_Store
Thumbs.db

# Secrets
.env